/* TODOS */
body {
    background-color: #e9e9e9; 
    color: #212529; 
    font-family: 'Roboto', sans-serif; 
}


h1, h2, h5 {
    font-weight: 700;
}

.nav-link{
    color: rgb(0, 0, 0) !important;
}

.navbar-toggler{
    background-color: rgb(255, 255, 255) !important;
    border-color: rgb(185, 185, 185) !important;
}

.carousel-inner img {
    max-height: 500px;
     
}

/* Footer */
footer {
    background-color: #2c3e50;
    color: #ecf0f1;
    padding: 20px 0;
}

footer h5 {
    color: #ffd700;
}

footer ul li a {
    color: #3ad862;
    text-decoration: none;
    transition: color 0.3s;
}

footer ul li a:hover {
    color: #fff;
}



/* BOTONES */
.btn-primary {
    background-color: #e67e22; /* Naranja brillante */
    border: none;
}

.btn-primary:hover {
    background-color: #d35400; /* Naranja m치s oscuro */
}


/* TARJETAS */
.card {
    border-radius: 15px; /* Bordes redondeados */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Sombra suave */
    transition: transform 0.2s ease, box-shadow 0.2s ease; /*Transicion*/
}

.card:hover {
    transform: scale(1.05); /* Escala al pasar el cursor */
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2); /* Sombra m치s profunda */
}

.card-img-top {
    height: 200px;
    object-fit: cover;
}


/* IMAGENES */
img.img-fluid {
    border-radius: 10px;
    transition: transform 0.3s ease;
}

img.img-fluid:hover {
    transform: scale(1.05); /* Aumenta ligeramente el tama침o */
}




/* INDEX */
.accordion-button {
    background-color: #e67e22; /* Fondo claro */
    color: #000000; /* Texto oscuro */
    border-radius: 5px;
}

.accordion-button:not(.collapsed) {
    background-color: #d35400; /* Fondo naranja activo */
    color: white; /* Texto claro */
}




/*HISTORIA */
.timeline {
    padding: 20px;
    border-left: 3px solid #e67e22;
}




/* GF */
.inicio {
    background: url('./imgs/convo2.png') no-repeat center center fixed ;  
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 100px 0;
}

.claro{
    background: url('./imgs/lince/espa침ol.PNG') no-repeat center center fixed ;  
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 100px 0;
}

.gatos{
    background: url('./imgs/gato montes/gato_montes.PNG') no-repeat center center fixed ;  
    background-size: cover;
    color: white;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
    padding: 100px 0;
}











